<style type="text/css">
    .header {
      background: #8a8a8a;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    table.button.facebook table td {
      background: #3B5998 !important;
      border-color: #3B5998;
    }
    table.button.twitter table td {
      background: #1daced !important;
      border-color: #1daced;
    }
    table.button.google table td {
      background: #DB4A39 !important;
      border-color: #DB4A39;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
  </style>
  
  
  
  <wrapper class="header">
    <container>
      <row class="collapse">
        <columns small="6">
          <img src="https://drive.google.com/file/d/1jJj-c7QUgdXnWpW_copELY_l-ntRxuLb/view">
        </columns>
        <columns small="6">
          <p class="text-right">SMT Fleet Management</p>
        </columns>
      </row>
    </container>
  </wrapper>
  
  <container>
  
    <spacer size="16"></spacer>
  
    <row>
      <columns small="12">
  
        <h1>Hi, <%= franchise %></h1>
        <p class="lead">Completed Form</p>
        <p>Franchise ID: <%= group_id%></p>
        <p>User ID: <%= owner_id%></p>
        <p>Inspection Type: <%= type%></p>
        <p>Truck ID: <%= truck_id%></p>
        <p>Gearbox Status: <%= gearbox%></p>
        <p>Signature: <%= tech_signature%></p>
        <callout class="primary">
          <p>Thank you for completing your inspection</p>
        </callout>
      </columns>
    </row>
  </container>