<style type="text/css">
    .header {
      background: #8a8a8a;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    table.button.facebook table td {
      background: #3B5998 !important;
      border-color: #3B5998;
    }
    table.button.twitter table td {
      background: #1daced !important;
      border-color: #1daced;
    }
    table.button.google table td {
      background: #DB4A39 !important;
      border-color: #DB4A39;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
  </style>
  
  
  
  <wrapper class="header">
    <container>
      <row class="collapse">
        <columns small="6">
          <img src="https://drive.google.com/file/d/1jJj-c7QUgdXnWpW_copELY_l-ntRxuLb/view">
        </columns>
        <columns small="6">
          <p class="text-right">SMT Fleet Management</p>
        </columns>
      </row>
    </container>
  </wrapper>
  
  <container>
  
    <spacer size="16"></spacer>
  
    <row>
      <columns small="12">
  
        <h1>Hi, <%= franchise %></h1>
        <p class="lead">Completed Form</p>
        <p>Franchise ID: <%= group_id%></p>
        <p>User ID: <%= owner_id%></p>
        <p>Inspection Type: <%= type%></p>
        <p>Truck ID: <%= truck_id%></p>
        <p>Odometer Reading: <%= odometer_reading%></p>
        <p>Def Unit: <%= def_unit%></p>
        <p>Boom Arm: <%= boom_arm%></p>
        <p>Boom Drum: <%= boom_drum%></p>
        <p>Clean Cab: <%= clean_cab%></p>
        <p>Hydraulics: <%= hydraulics%></p>
        <p>Tools: <%= tools%></p>
        <p>Greased Rails: <%= greased_rails%></p>
        <p>Zirc Fittings: <%= zirc_fittings%></p>
        <p>Grease System: <%= grease_system%></p>
        <p>Compressor: <%= compressor%></p>
        <p>Air Lines: <%= air_lines%></p>
        <p>Battery: <%= battery%></p>
        <p>Belts & Hoses: <%= belts_hoses%></p>
        <p>Truck Body: <%= truck_body%></p>
        <p>Parking Brake: <%= parking_brake%></p>
        <p>Service Brake: <%= service_brake%></p>
        <p>Couplings: <%= couplings%></p>
        <p>Heater: <%= heater%></p>
        <p>Drive: <%= drive%></p>
        <p>Engine: <%= engine%></p>
        <p>Exhaust: <%= exhaust%></p>
        <p>Fluid Levels: <%= fluid_levels%></p>
        <p>Frame Assembly: <%= frame_assembly%></p>
        <p>Front Axle: <%= front_axle%></p>
        <p>Fuel Tank: <%= fuel_tank%></p>
        <p>Horn: <%= horn%></p>
        <p>Head Lights: <%= lights_head%></p>
        <p>Tail Lights: <%= lights_tail%></p>
        <p>Turn Lights: <%= lights_turn%></p>
        <p>Clearance Lights: <%= lights_clearance%></p>
        <p>Mirrors: <%= mirrors%></p>
        <p>Muffler: <%= muffler%></p>
        <p>Oil Pressure: <%= oil_pressure%></p>
        <p>Radiator: <%= radiator%></p>
        <p>Rear End: <%= rear_end%></p>
        <p>Reflectors: <%= reflectors%></p>
        <p>Starter: <%= starter%></p>
        <p>Steering: <%= steering%></p>
        <p>Suspension: <%= suspension%></p>
        <p>Tires: <%= tires%></p>
        <p>Transmission: <%= transmission%></p>
        <p>Trip Recorder: <%= trip_recorder%></p>
        <p>Rims: <%= rims%></p>
        <p>Windows: <%= windows%></p>
        <p>Windshield Wipers: <%= windshield_wipers%></p>
        <p>Fire Extinguisher: <%= fire_extinguisher%></p>
        <p>Flags: <%= flags%></p>
        <p>Reflectives: <%= reflectives%></p>
        <p>Spare Bulbs: <%= spare_bulbs%></p>
        <p>Remarks: <%= remarks%></p>
        <p>Vehicle Condition: <%= vehicle_condition%></p>
        <p>Defects Corrected: <%=defects_corrected%></p>
        <p>Signature: <%= drivers_signature%></p>
        <callout class="primary">
          <p>Thank you for completing your inspection</p>
        </callout>
      </columns>
    </row>
  </container>